
<div id="hero">
    <h1>About Us</h1>
    <p>
        This is a simple Astro app that demonstrates how to use Astro with Vite and Tailwind CSS.
    </p>
    <p>
        <a href="/">Go back</a>
    </p>
</div>




<!-- <style>
    #container {
        font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
        height: 100%;
    }
</style> -->
