---

---
	
<!-- <Main> -->
	<div class="profile">
		<img class="profile__picture" src="../images/ali-jouyandeh-bodgc6H44FA-unsplash.jpg" alt="test Picture" />
		<div class="profile__details">
			<h1>Frau Katerina</h1>
			<h2>VP of Engineering at Google</h2>
			<p>Helping developers be excellent and succeed at building scalable products</p>
		</div>
	</div>
<!-- </Main> -->

<style>
	.profile {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 1rem 3rem 0 1rem;
	}
	.profile__details {
		flex: 1 0 300px;
	}
	.profile__details > h1 {
		margin-top: 0;
	}
	.profile__picture {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin: 0 2rem 1rem 0;
		object-fit: cover;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>
